<footer class="footer">
  <h1>This is my footer</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex maiores vero fugit harum? Optio id corporis nam commodi ea distinctio.</p>
</footer>